bin**/*
pkg**/*
logs**/*
pprof**/*
_obj
*.exe
*.out
*.di
*.callgrind
.DS_Store
dump.rdb
.srclib-*
**/*.bak
/**/testfiles/**/*.html
/**/testfiles/**/*.xml
httpmock
.idea
*.iml
deploy*.sh
start.sh
httpmock.log
